@media(min-width:768px){
    
    .mithi {
        width: 100%;
      }
     
      .mithi ul {
        height: 100px;
        width: 100%;
        display: flex;
        margin-left: -10px;
        list-style: none;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        list-style-type: none;
        list-style-position: inside;
        position: relative;
     
      }
     
      .mithi ul li {
        width: 100%;
        text-align: center;
        display: list-item;
      }
     
     
     
      .mithi a {
        font-size: 14px;
        display: block;
        margin: 0;
        overflow: hidden;
        text-decoration: none;
        font-weight: 100;
        color: white;
        padding: 33px 0px 46px 0px;
        text-align: center;
     
      }
     
     
     
     
     
     
      #icon1 {
        font-size: 24px;
        margin-right: -40px;
      }
     
      .mithi .Gallery {
        height: 150px;
        z-index: 3;
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        display: none;
     
      }
     
      .mithi .Gallery li {
        margin: 0px;
        padding: 10px;
      }
     
      .mithi .Gallery li a {
        padding: 5px;
        margin: 0px;
        font-size: 12px;
        display: block;
        margin: 0;
        overflow: hidden;
     
      }
      .mithi{
       display: block;
      } 
     
       .mithi2{
       display: none;
       width: 100%;
     
      }
      .mithi2 .imglogo{
       width: 100%;
       
        }
     
      .mithi2 .imglogo1{
     width: 200px;
       padding: 20px;
       justify-content: center;
     
     
      }
      
      .mithi2 .menu{
       display: block;
       width: 100%;
       
      }
      .mithi2 .menu .m2{
       margin: 10px;
      }
     
      .mithi2 .menu .m1{
       margin: 10px;
        padding: 0px 0px;
     
      }
     
      .mithi2 ul{
        width: 97%;
        padding: 0px 0px;
      }
     
      .mithi2 ul li{
        padding: 10px;
      }
     
      .mithi2 ul li a{
       width: 100%;
       padding: 10px;
      }
      .mithi2 ul li a .a1{
       width: 80%;
        
      }
      .mithi2 ul li a .a2{
       width: 19%;
        
      }
     
      /* .mithi2 */
     
      .back {
       background-image: url("img/slider.jpg");
       background-attachment: fixed;
       /* position: relative; */
       height: 900px;
       width: 100%;
     }

     .section2 {
      width: 100%;
     }
    .section2 h1 {
       font-size: 50px;
     }
    
    
     /* .section2 .imgline{
      border: 1px solid wheat;
    
     } */
    
     .section2 .imgline img{
      width: 100%;
    
     }

     .section2 .btn ul {
       width: 100%;
       display: flex;
       list-style: none;
       margin: 0px 0px 0px 0px;
       padding: 0px 0px 0px 0px;
    
     }
    
     .section2 .btn ul li {
       width: 100%;
       text-align: center;
       display: list-item;
       margin : 30px 10px;
    
     }
    
     .section2 .btn ul a {
       font-size: 14px;
       width: 100%;
       padding:10px 30px;
    
     }



         /* .section5 {
           width: 100%;
           height: 100%;
    display: flex;
    flex-direction: column;
         }
    
         .section5 .left {
           position: relative;
           height: 475px;
          width: 100%;
          height: 100%;
         }
    
         .section5 .left .line {
           position: absolute;
           top: 3%;
           left: 2.5%;
           padding: 20% 47%;
         }
    
         .section5 .right {
           height: 100%;
           width: 100%;
         }
    
         .section5 h1 {
           font-size: 25px;
           margin-top: 10%;
           text-transform: uppercase;
         }
    
         .section5 p {
           width: 100%;
           font-size: 12px;
           text-align: center;
           padding: 0% 2% 0 2%;
    
         }
    
    
    
         .section5 .btn ul {
    
           width: 100%;
           display: flex;
           margin: 0px 0px 0px 0px;
           padding: 0px 0px 0px 0px;
    
         }
    
         .section5 .btn ul li {
           width: 100%;
           text-align: center;
           display: list-item;
           margin: 10px 10px;
    
         }
    
         .section5 .btn ul a {
           font-size: 14px;
           width: 100%;
           display: inline-block;
           text-decoration: none;
           padding: 10px 30px;
         }
    
         .section5 .btn ul a i {
           padding-left: 10px;
         } */

}