 * {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;



 }

 /* #art{
  background-image: url(img/slider.jpg);
  height: 900px;
  width: 100%;
} */



 .mithi {
   width: 100%;
   background-color: black;

 }

 .mithi ul {
   height: 100px;

   width: 100%;
   display: flex;
   margin-left: -10px;
   list-style: none;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   list-style-type: none;
   list-style-position: inside;

   position: relative;

 }

 .mithi ul li {
   width: 100%;
   text-align: center;
   display: list-item;
 }



 .mithi a {
   background-color: black;
   font-size: 14px;
   display: block;
   margin: 0;
   overflow: hidden;
   font-family: 'Impact', 'sans-serif';
   text-decoration: none;
   font-weight: 100;
   color: white;

   padding: 33px 0px 46px 0px;
   text-align: center;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-transform: uppercase;
   /* border: 1px solid rgb(64, 255, 0); */



 }

 .mithi a:hover {
   color: rgb(0, 0, 0);
   background-color: white;


 }

 #m1 {
   background-color: white;
   color: black;
 }



 #icon {
   font-size: 24px;
   margin-right: -40px;
   transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   /* display: none; */
 }

 /* #icon:hover { 
    display: block;
  } */



 #icon1 {
   font-size: 24px;
   margin-right: -40px;
   /* Add spacing between the icon and the text */

 }

 #sr,
 #sl {
   color: maroon;
   /* display: none; */

 }

 /* #sr,#sl:hover{
display: block;

  } */



 .mithi .Gallery {
   height: 150px;
   z-index: 3;
   width: 100%;
   display: flex;
   flex-direction: column;
   list-style: none;
   background-color: rgb(255, 255, 255);
   display: none;

 }

 .mithi .Gallery li {
   height: min-content;
   text-align: center;
   margin: 0px;
   padding: 10px;
   border: none;
 }

 .mithi .Gallery li a {
   padding: 5px;
   margin: 0px;
   background-color: white;
   font-size: 12px;
   display: block;
   margin: 0;
   overflow: hidden;
   font-family: 'Impact', 'sans-serif';
   text-decoration: none;
   color: rgb(0, 0, 0);
   text-transform: uppercase;
   border: none;

 }

 .mithi {
   display: block;
 }

 .mithi2 {
   display: none;
   background-color: black;
   width: 100%;

 }

 .mithi2 .imglogo {
   width: 100%;
   border: 1px solid wheat;
   text-align: center;

 }

 .mithi2 .imglogo1 {
   width: 200px;
   padding: 20px;
   justify-content: center;


 }

 .mithi2 {
   display: block;
   background-color: black;
   width: 100%;
 }

 .mithi2 .menu {
   display: block;
   background-color: black;
   width: 100%;
   font-size: 20px;
   border: 1px solid wheat;

 }

 .mithi2 .menu .m2 {
   background-color: black;
   border: none;
   margin: 10px;
   color: white;
 }

 .mithi2 .menu .m1 {
   background-color: black;
   border: none;
   margin: 10px;
   padding: 0px 0px;

 }

 .mithi2 ul {
   width: 97%;
   padding: 0px 0px;
   list-style: none;
   border: 1px solid wheat;


 }

 .mithi2 ul li {
   border: 1px solid wheat;
   padding: 10px;
 }

 .mithi2 ul li a {
   border: 1px solid wheat;

   width: 100%;
   font-size: 15px;
   text-decoration: none;
   text-transform: uppercase;
   color: white;
   padding: 10px;
 }

 .mithi2 ul li a .a1 {
   width: 80%;

 }

 .mithi2 ul li a .a2 {
   width: 19%;

 }

 /* .mithi2 */


 .header .drop1:hover .Gallery {
   display: block;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

 }


 .back {
   background-image: url("img/slider.jpg");
   background-attachment: fixed;
   /* position: relative; */
   height: 900px;
   width: 100%;
 }


 .section2 {
   width: 100%;
   background-color: black;

 }

 .section2 h1 {
   font-size: 70px;
   text-transform: uppercase;

 }

 .section2 h1 {
   font-size: 70px;
   text-transform: uppercase;

 }

 /* .section2 .imgline{
  border: 1px solid wheat;

 } */
 .section2 .imgline img {
   width: 50%;

 }

 .section2 .btn ul {
   /* height: 100px; */
   width: 100%;
   display: flex;
   /* grid-template-columns: auto auto auto auto auto; */
   /* column-gap: 5px; */
   list-style: none;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;

 }

 .section2 .btn ul li {
   width: 100%;
   text-align: center;
   display: list-item;
   margin: 30px 10px;

 }

 .section2 .btn ul a {
   font-size: 14px;
   width: 100%;
   display: inline-block;
   font-family: 'Impact', 'sans-serif';
   text-decoration: none;
   color: palevioletred;
   /* background-color: palevioletred; */
   padding: 10px 30px;
   text-align: center;
   text-transform: uppercase;

 }

 .hover1 {
   cursor: pointer;
   position: relative;
   padding: 10px 20px;
   background: white;
   font-size: 28px;

   transition: all 1s;

   &:after,
   &:before {
     content: " ";
     width: 10px;
     height: 10px;
     position: absolute;
     border: 0px solid #fff;
     transition: all 1s;
   }

   &:after {
     top: -5px;
     left: -5px;
     border-top: 2px solid rgb(0, 0, 0);
     border-left: 2px solid rgb(0, 0, 0);
     background-color: rgba(255, 0, 0, 0.10);

   }

   &:before {
     bottom: -5px;
     right: -5px;
     border-bottom: 2px solid rgb(0, 0, 0);
     border-right: 2px solid rgb(0, 0, 0);
     background-color: rgba(255, 0, 0, .10);

   }

   &:hover {

     /* border-top-right-radius:0px;
    border-bottom-left-radius:0px; */
     &:before,
     &:after {

       width: 100%;
       height: 100%;
     }
   }
 }


 /* .section3{
    width: 100%;
    background-image: url(img/portfolio-bg.jpg);

  }

  .section3 .background{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px 40px ;
    padding: 5% 100px;
    background-image: url(https://wedesignthemes.com/html/redart/default/images/portfolio-bg.jpg);

  } */



 /* .section3 .background1 .img1{
    grid-row-start: 1;
    grid-row-end: 5;
    
  }
  .section3 .background1 .img2{
    grid-row-start: 1;
    grid-row-end: 4;
   
  }
  .section3 .background1 .img3{
    grid-row-start: 1;
    grid-row-end: 3;
    
  }
  .section3 .background1 .img4{
    grid-row-start: 1;
    grid-row-end: 4;
    
  }
  .section3 .background1 .img5{
    grid-row-start: 8;
    grid-row-end: 7;
  } */

 /* 
.section3 .imgall{
 
  transform: translate3d(0px, 0px, 0px);
  border-bottom-color: #000;
  border-top-color: #2e2e2e;
  border-left-color: #2e2e2e;
  border-right-color: #000;
  border: 15px solid;
  box-sizing: border-box;
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
 

} */
 /* .section3 .imgall .img2 img{
 
 height: 200px;
 

}
  */

 .background {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 65px 50px;
   padding: 100px 100px;
   background-image: url(img/portfolio-bg.jpg);
 }

 .box1 {
   grid-row-start: 1;
   grid-row-end: 3;
   height: 600px;
   width: 390px;
   background-color: transparent;
   border: 35px solid white;
   outline: 15px outset black;
   outline-offset: -1px;
 }

 .img1 img {
   width: 320px;
   height: 530px;
   overflow: hidden;
   position: relative;
 }


 .box2 {
   grid-row-start: 1;
   grid-row-end: 2;
   height: 350px;
   width: 390;
   background-color: transparent;
   border: 35px solid white;
   outline: 15px outset black;
   outline-offset: -1px;
 }

 .img2 img {
   height: 280px;
   width: 320px;
   overflow: hidden;
   position: relative;
 }


 .box3 {
   grid-row-start: 1;
   grid-row-end: 1;
   height: 270px;
   width: 390px;
   background-color: transparent;
   border: 35px solid white;
   outline: 15px outset black;
   outline-offset: -1px;
 }

 .img3 img {
   height: 200px;
   width: 320px;
   overflow: hidden;
   position: relative;
 }

 .box4 {
   grid-row-start: 1;
   grid-row-end: 2;
   height: 330px;
   width: 390px;
   background-color: transparent;
   border: 35px solid white;
   outline: 15px outset black;
   outline-offset: -1px;
 }

 .img4 img {
   height: 260px;
   width: 320px;
   overflow: hidden;
   position: relative;
 }

 .box5 {
   grid-row-start: 3;
   grid-row-end: 4;
   height: 330px;
   width: 390px;
   background-color: transparent;
   border: 35px solid white;
   outline: 15px outset black;
   outline-offset: -1px;
 }

 .img5 img {
   height: 260px;
   width: 320px;
   overflow: hidden;
   position: relative;
 }

 .box6 {
   margin-top: 20px;

   grid-row-start: 5;
   grid-row-end: 2;
   height: 550px;
   width: 390px;
   background-color: transparent;
   border: 35px solid white;
   outline: 15px outset black;
   outline-offset: -1px;
 }

 .img6 img {
   height: 480px;
   width: 320px;
   overflow: hidden;
   position: relative;
 }

 .box7 {
   grid-row-start: 2;
   grid-row-end: 4;
   height: 550px;
   width: 390px;
   background-color: transparent;
   border: 35px solid white;
   outline: 15px outset black;
   outline-offset: -1px;
 }

 .img7 img {
   height: 480px;
   width: 320px;
   overflow: hidden;
   position: relative;
 }

 .box8 {
   grid-row-start: 3;
   grid-row-end: 2;
   height: 300px;
   width: 400px;
   background-color: transparent;
   border: 35px solid white;
   outline: 15px outset black;
   outline-offset: -1px;
 }

 .img8 img {
   height: 230px;
   width: 330px;
   overflow: hidden;
   position: relative;
 }

 .box9 {
   grid-row-start: 5;
   grid-row-end: 3;
   height: 300px;
   width: 400px;
   background-color: transparent;
   border: 35px solid white;
   outline: 15px outset black;
   outline-offset: -1px;
 }

 .img9 img {
   height: 230px;
   width: 330px;
   overflow: hidden;
   position: relative;
 }

 .section4 {
   width: 100%;
   background-color: black;
 }

 .section4 h1 {
   font-size: 70px;
   text-transform: uppercase;
 }

 .section4 .imgline img {
   width: 50%;

 }

 .section5 {
  background-color: black;
   width: 100%;
   display: flex;
   flex-direction: unset;
   height: 100%;
 }

 .section5 .left {
  /* border: 2px solid maroon; */
   position: relative;
   height: 475px;
   width: 50%;
   height: 470px;
 }

 .section5 .left .line {
   position: absolute;
   top: 5%;
   left: 2.5%;
   border: 1px solid rgb(255, 255, 255);
   padding: 21% 47%;
 }

 .section5 .right {
  /* border: 2px solid maroon; */
  width: 50%;
  height: 470px;
   background-color: black;
 }

 .section5 h1 {
   font-size: 50px;
   margin-top: 10%;
   text-transform: uppercase;
 }

 .section5 p {
   width: 100%;
   font-size: 13px;
   text-align: center;
   padding: 4% 10% 0 10%;

 }



 .section5 .btn ul {

   width: 100%;
   display: flex;
   list-style: none;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;

 }

 .section5 .btn ul li {
   width: 100%;
   text-align: center;
   display: list-item;
   margin: 30px 10px;

 }

 .section5 .btn ul a {
   font-size: 14px;
   width: 100%;
   display: inline-block;
   font-family: 'Impact', 'sans-serif';
   text-decoration: none;
   color: white;
   background-color: palevioletred;
   padding: 10px 30px;
   text-align: center;
   text-transform: uppercase;
 }

 .section5 .btn ul a i {
   padding-left: 10px;
 }

 .section5 .hover1 {
   cursor: pointer;
   position: relative;
   padding: 10px 20px;
   background: white;
   font-size: 28px;

   transition: all 1s;

   &:after,
   &:before {
     content: " ";
     width: 10px;
     height: 10px;
     position: absolute;
     border: 0px solid #fff;
     transition: all 1s;

   }

   &:after {
     top: -1px;
     left: -1px;
     border: none;
     background-color: rgba(255, 255, 255, 0.200);
   }

   &:before {
     bottom: -1px;
     right: -1px;
     border: none;

     background-color: rgba(255, 255, 255, 0.200);
   }

   &:hover {

     /* border-top-right-radius:0px;
    border-bottom-left-radius:0px; */
     &:before,
     &:after {

       width: 100%;
       height: 100%;
     }
   }
 }



 

 .section6 {
  width: 100%;
}



.section6 .left {
  background-color: black;
}

.section6 h1 {
  font-size: 50px;
  margin-top: 10%;
  text-transform: uppercase;

}

.section6 p {
  width: 100%;
  font-size: 13px;
  text-align: center;
  padding: 4% 10% 0 10%;

}



.section6 .btn ul {

  width: 100%;
  display: flex;
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  padding-bottom: 55%;

}

.section6 .btn ul li {
  width: 100%;
  text-align: center;
  display: list-item;
  margin: 30px 10px;

}

.section6 .btn ul a {
  font-size: 14px;
  width: 100%;
  display: inline-block;
  font-family: 'Impact', 'sans-serif';
  text-decoration: none;
  color: white;
  background-color: palevioletred;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;

}

.section6 .btn ul a i {
  padding-left: 10px;
}

.section6 .hover1 {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: white;
  font-size: 28px;

  transition: all 1s;

  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;

  }

  &:after {
    top: -1px;
    left: -1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.200);
  }

  &:before {
    bottom: -1px;
    right: -1px;
    border: none;

    background-color: rgba(255, 255, 255, 0.200);
  }

  &:hover {

    &:before,
    &:after {

      width: 100%;
      height: 100%;
    }
  }
}

.section6 .right {
  position: relative;
  height: 475px;

}

.section6 .right .line {
  position: absolute;
  top: 5%;
  left: 2%;
  border: 1px solid rgb(255, 255, 255);
  padding: 200px 450px;
}



/* section9 */

.section9{
  background-color: black;
}
.section9 .left img{
    background-color: black;
    height: 500px;
}

.section9 .right {
  background-color: black;
  width: 620px;
  color: white;
}
.section9 .right h1{
  font-weight: 400;
  padding: 10px 0px;
}
.section9 .right p {
  font-weight: 300;
  padding: 2px 0px;
  font-size: 14px;
}
.section9 .form-control{
  border-radius: 0%;
  width: 300px;
  background-color: rgb(75, 75, 75);
  border: none;
  height: 50px;
}
.section9 .submit{
  width: 100px;
  color: #fff;
}
.section10 {
  background-color: black;
  padding: 5% 0px;
  width: 100%;

}
.section10 img{
  background-attachment:unset;
  background-repeat: repeat;
  width: 475px;
  }

  .footer{
    background-color: black;
    text-align: center;
    color: #fff;
  }
  .footer .top  ul{
    
    list-style: none;
    justify-content: center;
  }
  .footer li{
    text-align: center;
      display: list-item;
      text-decoration: none;
      margin: 10px 10px;
    /* justify-content: center; */
  }
     .footer p {
       text-align: center;
       display: list-item;
       text-decoration: none;
       padding: 5px 10px 50px 10px;
    color: #5a5a5a !important;       /* justify-content: center; */
     }




